$dark: lighten(black, 20%);
$yellow: darken(lightgoldenrodyellow, 22%);

@mixin container($width) {
    max-width: $width;
	margin: 0 auto;
}

%backgroundImg {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

input {
    &:focus {
        outline: none;
    }
}

.App {
    text-align: center;
}

main {
    @include container(43%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.3em;
    height: 14em;
    color: $dark;
    .title {
        margin: 0;
        font-size: 2.5em;
    }
}

.search {

    &-page {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }

    &-form {
        margin-bottom: 1em;
    }

    &-input {
        position: relative;
        width: 100%;
        padding: 1em 1.5em;
        font-family: monospace;
        font-size: 1em;
        border: .1em solid $dark;
        background-color: wheat;
    }

    &-result {
        text-align: left;

        &-item {
            padding: 1em;
            margin-bottom: 1em;
            background-color: $yellow;

            .title {
                margin: 0;
            }

            .author {
                cursor: pointer;
            }
        }

        a {
            color: $dark;
        }
    }
}

.book {

    &-detail {
        @include container(40em);
        position: relative;
    }

    &-cover {
        width: auto;
        height: 16em;
        @include container(11em);
        @extend %backgroundImg;
    }

    &-name {
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    &-addToBasket {
        display: inline-block;
        font-size: 1em;
        padding: .4em .8em;
        width: auto;
        background-color: $dark;
        color: white;
        cursor: pointer;
    }

    &-authors {
        display: block;
        margin: 1em 0;
        font-size: 1.3em;
        font-style: italic;
    }
}

.basket {
    position: fixed;
    top: 1em;
    left: 1em;
    width: 25em;
    max-height: 12em;
    text-align: left;
    overflow: scroll;

    & > span {
        display: block;
        background-color: wheat;
        padding: .2em .2em;
    }

    &-item {
        display: block;
        font-size: .9em;
        margin: .4em 0;

        i {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            margin-left: .3em;
            background-color: red;
            color: white;
            border-radius: 100%;
            text-align: center;
            line-height: 1.5em;
            cursor: pointer;
        }
    }
}